/* header */
.logo-evento{
	width: 142px;
    margin-top: 10px;
}

nav {
	width: 100%;
	height: 10vh;
	background-color: rgba(22,31,40,0.7) !important;
	box-shadow: none;
	position: absolute;
	top: 0px;
	position: fixed;
	z-index: 999;
}
/* imagen 20 años */
.imgani img {
	margin: 5%;
}
/* parallax pagina de eventos */
.parallax-container {
	height: 400px;
	background-color: rgba(215, 44, 44, 0.8);
	background: rgba(215, 44, 44, 0.8);
	color: rgba(215, 44, 44, 0.8);
}
/* parallax pagina de eventos */
.parallax img {
	display: block;
}
/* collapsible list pagina de eventos */
h1, h3 {
	font-size: 35px;
	text-shadow:5px 5px 7px #424242;
}
.collapsible-header img {
	padding-top: 2%;
}
.collapsible-body p {
	padding: 10px;
}
.collapsible-body h6 {
	padding: 2%;
	margin-top: 1px;
}
/*formulario pagina de eventos */
.ev-box {
	padding-bottom: 3%;
	padding-top: 3%;
	background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#D38D00), to(#BB0E57))
}
.head {
	background-color: #AA006C;
}
.head >h2 {
	color: #fff;
	text-align:center;
  	padding:18px 0 18px 0;
  	font-size: 1.4em;
} 
.message {
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
}
@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  button {
    width:90%;
  }
  body {
  padding-top:10px;
  }  
}
::-webkit-input-placeholder {
   color: #CCCCCC;
   padding-left: 2%;
}
:-moz-placeholder {
   color: #CCCCCC; 
   padding-left: 2%;
}
::-moz-placeholder {
   color: #CCCCCC;
   padding-left: 2%;
}
:-ms-input-placeholder {  
   color: #CCCCCC; 
   padding-left: 2%;
}
.ev-fond2 {
	margin-bottom: 5%;
}
.cntform {
	max-width:600px;
	margin:0 auto;
	text-align:center;
	background-color: #fff;
	margin-top: 15%;
	margin-bottom: 5%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

	padding-bottom: 5%;
}
button #submit {
	background-color: #F4920A
	color: #fff;
}
/* Carousel */
.carousel .carousel-item {
	width: 400px;
}
.ev-abajo {
	padding-top: 3%;
	background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#D38D00), to(#BB0E57))
}
.carousel img {
	width: 350px;
	height: 280px;
}
footer{
	position: relative;
	top: -55px;
	background-color: #161f28;
	padding: 50px;
	color: #c3c6c9;
}

footer li a{
	color: #c3c6c9;
	font-size: 12px;
}

footer .material-icons{
	font-size: 20px;
	color: #fff;
}

.footer-dos{
	padding-top: 15px;
}

.footer-tres img{
	width: 100px;
}

@media (max-width: 480px) {
  .footer-uno , .footer-dos , .footer-tres {
    padding-bottom: : 50px;
  }  
}



