body{
	font-size: 18px;
}
header img{
	width: 142px;
}

nav {
	width: 100%;
	height: 10vh;
	background-color: rgba(22,31,40,0.7) !important;
	box-shadow: none;
	position: absolute;
	top: 0px;
	position: fixed;
	z-index: 999;
}

@media (max-width: 480px) {
  nav {
    background-color: rgba(22,31,40,0.9) !important;
  } 
  header img{
  	width: 92px;
  }
  video{
  	position: absolute;
  	top: 55px;
  	left: 0px;
  } 
}

.grey{
	padding-top: 80px;
}
#fotoP{
	border: 4px solid #fff;
}
#nombre, #region{
	display: inline-block;
}
.intereses{
	padding: 2% 0;
}
.bold, strong{
	font-weight: 600;
}
.boton{
	width: 80%;
	height: 50px;
    line-height: 50px;
    font-size: 23px;
   	letter-spacing: 1.5px;
}
.seguidores{
	font-size: 63px;
    margin: 0;
}
.right{
	float:right;
}
.cursor{
	cursor:pointer;
}
#edit-foto{
	padding: 2%;
}
footer{
	background-color: #161f28;
	padding: 50px;
	color: #c3c6c9;
}

footer li a{
	color: #c3c6c9;
	font-size: 12px;
}

footer .material-icons{
	font-size: 20px;
	color: #fff;
}

.footer-dos{
	padding-top: 15px;
}

.footer-tres img{
	width: 100px;
}

@media (max-width: 480px) {
  .footer-uno , .footer-dos , .footer-tres {
    padding-bottom: : 50px;
  }  
}